*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: black;
}

ul{
  display: flex;
  list-style-type: none;
}

li{
  flex-grow: 1;
}

a{
  font-family: arial,sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: gray;
  background-color: rgb(18, 18, 18);
}

section{
  padding-top: 20px;
  text-align: center;
  font-family: arial,sans-serif;
}

.active{
  border-bottom-color: red;
}

.about_selected{
  border-bottom-color:orange;
}